
body {
	margin: 0;
	padding: 0;
	min-width: 1200px;
	font-family: "Arial", sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: #000000;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.container {
	position: relative;
	width: 800px;
	margin: 0 auto;
}

.container2 {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}

.button {
	display: block;
	padding: 10px 20px;
	text-transform: uppercase;
	border: 2px solid;
	line-height: 25px;
	font-weight: normal;
}


/*=====================ШАПКА==========================*/

.index-header {
	padding-top: 60px;
	padding-bottom: 80px;
	background-color: #ffcb78;
	background-image: url(../img/header-background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.main-header-logo {
	filter: drop-shadow(0 0 20px black);
}

.main-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 120px;
}

.site-navigation {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.site-navigation-item:not(:last-child) {
	margin-right: 60px;
}

.site-navigation-item a {
	display: block;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 500;
	padding: 15px 0;
	font-weight: bold;
}

.site-navigation-item a:hover {
	text-decoration: underline;
}

.tag {
	margin: 0;
	color: #ffffff;
	font-size: 70px;
	line-height: 70px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 70px;
}

.slider {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: center;
}

.slider li {
	height: 6px;
	width: 6px;
	background-color: #ffffff;

}

.slider li:not(:last-child) {
	margin-right: 25px;
}


/*===========================НОВИНКИ=============================*/

.novelties {
	padding: 90px 0 0;
}

.section-title {
	text-transform: uppercase;
    margin: 0;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 80px;
}

.product-card-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.product-card {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 395px;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	padding: 0 35px;
	margin-bottom: 100px;
}

.product-card:nth-child(2n) {
	border-left: none;
}


.product-title {
	order: 1;
	font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
}

.product-description {
	order: 1;
	margin:0;
	margin-bottom: 60px;
}

.product-ordering {
	order: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.product-properties-container {
	position: absolute;
    width: 170px;
    top: 0;
    right: 0;
}

.product-properties {
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 15px;
}

.product-consist {
	margin: 0;
	border-top: 1px solid #e5e5e5;
	font-size: 14px;
	line-height: 28px;
	padding-top: 15px;
}

.product-properties td {
	min-width: 80px;
}

.product-img {
	margin-bottom: 15px;
}

.more-info-button {
	margin-right: 5px;
	color: #834700;
	border-color: #834700;
}

.buy-button {
	margin-right: auto;
	color: #ffffff;
	border-color: #834700;
	background-color: #834700;
}

/*========================ПРЕИМУЩЕСТВА============================*/

.advantages {
	background-color: #ffcb78;
}

.advantage-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;

}

.advantage-item {
	position: relative;
	padding: 80px 90px;
	width: 400px;
}

.advantage-item:not(:last-child)::after {
	content: "";
	position: absolute;
	top: 0;
	right: -1px;
	bottom: 0;
	height: auto;
	width: 1px;
	background-color: #b3590b;
	margin: 85px 0;
}

.advantage-item::before {
	content: "";
	position: static;
	display: block;
	height: 70px;
	width: 70px;
	margin-bottom: 30px;
}

.first::before {
	background-image: url("../img/first.png");
}

.second::before {
	background-image: url("../img/second.png");
}

.third::before {
	background-image: url("../img/third.png");
}

.advantage-title {
	text-transform: uppercase;
	font-size: 20px;
	margin: 0;
	margin-bottom: 20px;
}

.advantage-info {
	margin: 0;
	color: #505050;
}

/*=========================ИСТОРИЯ=========================*/
.history {
	padding: 90px 0 20px;
}

.history dl {
	margin: 0;
}

.history dt, 
.history dd {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0;
	padding: 0;
}

.history dt {
	margin-bottom: 20px;
}

.history dd {
	flex-direction: row-reverse;
	margin-bottom: 70px;
}

.history h3 {
	text-transform: uppercase;
	font-size: 20px;
	margin: 0;
	width: 500px;
	margin-right: auto;
}

.history p {
	margin: 0;
	margin-right: auto;
	width: 500px;
}

.history img {
	margin-top: 10px;
}

.history a {
	color: #804501;
	text-decoration: underline;
}

/*=====================ПРЕССА======================*/
blockquote:before {
    content: url(../img/quotes.png);
}

.press {
	padding: 90px 0 20px;
	background-color: #ede5d8;
}

.press blockquote {
	margin: 0;
	margin-bottom: 70px;
}

.press-detail {
	margin: 0;
	color: #505050;
	margin-bottom: 40px;
}

.press-info {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.press-info cite {
	text-transform: uppercase;
	font-size: 20px;
	margin: 0;
	font-style: normal;
	font-weight: bold;
}

.press-button {
	color: #a69f97;
	border-color: #a69f97;
}

/*================================АССОРТИМЕНТ==============================*/

.assortment {
	padding: 90px 0 90px;
}

.assortment-table {
	text-align: center;
	width: 100%;
	border-collapse: collapse;
	text-transform: uppercase;
}

.assortment-table tr {
	border-bottom: 1px solid #e5e5e5;
}

.assortment-table th,
.assortment-table td {
	width: 70px;
}

.assortment-table td {
	padding: 15px 0;
}

.assortment-table th {
	padding-bottom: 30px;
	font-weight: normal;
	font-size: 12px;
	color: #909090;
}

.assortment-table th:first-child,
.assortment-table td:first-child {
	width: 400px;
	text-align: left;
}

.assortment-table th:last-child,
.assortment-table td:last-child {
	width: 190px;
	text-align: right;
}

.assortment-table td:first-child {
	font-weight: bold;
}

td sup {
    font-weight: bold;
    color: white;
    background: black;
    font-size: 8px;
    padding: 2px 5px;
    margin-left: 20px;
}

/*==================ЗАКАЗАТЬ=================*/

.order {
    padding: 90px 0 90px;
	background-color: #ffcb78;
}

.order-description {
	margin: 0;
	color: #505050;
	margin-bottom: 60px;
}

.order .feedback-form-group { 
	margin-bottom: 10px 
}

.order label {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    line-height: 50px;
    height: 50px;
}

.order input {
    display: inline-block;
    width: 580px;
    height: 50px;
    background: #E6B66C;
    border: none;
}

.order input[placeholder],
.order select[placeholder],
.order textarea[placeholder] {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    line-height: 50px;
    padding-left: 20px;
}

.order select option {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    padding-left: 20px;
}

.order input::-webkit-input-placeholder,
.order select::-webkit-input-placeholder,
.order textarea::-webkit-input-placeholder { 
    color: #B49157 }

.order select {
    width: 600px;
    height: 50px;
    background: #E6B66C;
    border: none;
    color: #B49157;
}

.order .labtext { 
	vertical-align: top 
}

.order textarea {
    width: 580px;
    height: 150px;
    background: #E6B66C;
    border: none;
}

#phone,
#phone-two { 
	width: 180px 
}

.size {
 margin-top: 60px 
}

#labelphone-two {
    margin-left: 50px;
    margin-right: 35px;
    width: 110px;
}

.checkbox-area input {
     display: none;

}

.checkbox-area label {
    margin-top: 40px;
    display: inline-block;
    width: 700px;
    height: 20px;
    line-height: 40px;
    font-size: 16px; 
}

.checkbox-area label span{
 vertical-align: top;
    margin-left: 20px;
}


.check {
    content: "";
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 20px;
    margin-left: 200px;
    background: #E6B66C;
    cursor: pointer;
    
}

.check:after {
    content: "";
    position: absolute;
    top:20px;
    left:15px;
    display: inline-block;
    width: 20px;
    height: 3px;
    background: black;
    transform:rotate(-45deg);
    display: none;

}

.check:before {
    content: "";
    position: absolute;
    top:23px;
    left:10px;
    display: inline-block;
    width: 10px;
    height: 3px;
    background: black;
    transform:rotate(45deg);
    display: none;

}

.checkbox-area input:checked ~ .check:before,
.checkbox-area input:checked ~ .check:after
 {
    display: block;
}

.order input[type="submit"] {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 205px;
    height: 55px;
    line-height: 50px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background: #834700;
    margin-left: 200px;
    margin-top: 40px;
}

/*====================ПОДВАЛ====================*/

.main-footer {
	background-color: #000000;
	padding: 60px 0;
}

.main-footer .container-1200 {
	padding: 0 90px;
}

.footer-main-navigation {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 50px;
}

.footer-site-navigation {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-right: 100px;
}

.main-footer-logo {
	width: 225px;
	margin-right: 85px;
	display: flex;
    justify-content: center;
}

.footer-links-graveyard {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.footer-copyright-text {
	color: #888888;
	font-size: 14px;
	line-height: 22px;
	width: 320px;
	margin-right: auto;
}

.social-links {
	margin-right: 85px;
	width: 225px;
	display: flex;
	flex-wrap: wrap;
}

.social-links a {
	display: block;
	width: 75px;
	height: 75px;
	background-color: #1b1b1b;
	background-position: center;
	background-repeat: no-repeat;
}

.fb-link {
	background-image: url("../img/icon-fb.png");
}

.vk-link {
	background-image: url("../img/icon-vk.png");
}

.inst-link {
	background-image: url("../img/icon-insta.png");
}

.social-links a:nth-child(2n) {
	background-color: #222222;
}

.footer-copyright {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 315px;
}

.footer-copyright span,
.footer-copyright a {
	color: #888888;
}

.footer-copyright a:hover {
	text-decoration: underline;
}


.copyright-logo {
	width: 75px;
	height: 75px;
	background-color: #1b1b1b;

	display: flex;
    align-items: center;
    justify-content: center;
}
